html {
 background-color: #cccccc;
}

body {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}


.urls {
    border: outset;
    font-size: 25px;
    font-family: "Arial Narrow", sans-serif;
    display: inline;
    padding: 10% 0 5% 0;
    background-color: #999999;
    margin: 0 0 0 0;
}


.list {
 left: 37%;
 position: fixed;
 margin: 0 0 0 0;
 padding: 1% 0 0 0;
}

a {
  text-decoration: none;
  color: #fff;
}


#decor1 {
 float: left;
 background: url(https://i.pinimg.com/originals/94/55/10/9455109e2859856f83aac721d56ad6c6.jpg);
 background-repeat: repeat-y;
 height: 700px;
 width: 200px;
}

#decor2 {
 float: right;
 background: url(https://i.pinimg.com/originals/94/55/10/9455109e2859856f83aac721d56ad6c6.jpg) repeat-y;
 height: 700px;
 width: 200px;




