html {
 background-color: #cccccc;
}

body {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}


.urls {
    border: outset;
    font-size: 25px;
    font-family: "Arial Narrow", sans-serif;
    display: inline;
    padding: 5% 0 5% 0;
    background-color: #999999;
    margin: 0 0 0 0;
}


.list {
 top: 0;
 left: 37%;
 position: fixed;
 padding: 1% 0 0 0;
}

a {
  text-decoration: none;
  color: #fff;
}


#decor1 {
 margin: 0 0 0 0;
 position: fixed;
 left: 0;
 top: 0;
 height: 378px;
 width: 200px;
}

#decor2 {
 right:0;
 top: 0;
 position: fixed;
 height: 378px;
 width: 200px;
}

#decor3 {
 position: fixed;
 left:0;
 bottom:0;
 height: 378px;
 width: 200px;
}

#decor4 {
 right: 0;
 bottom: 0;
 position: fixed;
 height: 378px;
 width: 200px;
}


